<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Scraper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Canada News Scraper</h1>
    <a href="https://github.com/sankeer28/Canada-News-Scraper" style="font-weight: bold; color: black; text-decoration: underline;">GitHub</a>

    <form method="post">
        <label for="source">Choose a news source:</label>
        <select name="source" id="source">
            <option value="CP24" {% if selected_source == 'CP24' %} selected {% endif %}>CP24</option>
            <option value="CTV News" {% if selected_source == 'CTV News' %} selected {% endif %}>CTV News</option>
        </select>
        <button type="submit">Get News</button>
    </form>
    <hr>
    {% if news %}
    <ul>
        {% for title, link in news %}
        <li>
            <a href="{{ link }}">{{ title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No news articles available.</p>
    {% endif %}
</body>
</html>
